<div class="form-group">
    <input 
        type={{type}}
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
        class="form-control"
        [formControl]="ngControl.control"
        placeholder={{label}}>
        <div *ngIf="ngControl.control.errors?.required" class="invalid-feddback">Please enter a {{label}}</div>
        <div *ngIf="ngControl.control.errors?.minLenght" class="invalid-feddback">
            {{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}}
        </div>
        <div *ngIf="ngControl.control.errors?.maxLenght" class="invalid-feddback">
            {{label}} must be at least {{ngControl.control.errors.maxlength['requiredLength']}}
        </div>
        <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feddback">
            Password is not match</div>
    </div>